.spinner-border {
    margin: 15px 0 15px 15px;
}
.alert {
    margin: 15px;
}
.form-floating {
    margin: 15px;
}
.list-group {
    margin: 0 15px 0 15px;
}
/* .product-data {
    width: 1890px;
} */
a {
    cursor: pointer;
}
.list-group-item-action {
    width: min-content;
}
.product-list {
    margin-bottom: 15px;
}
/* .product-name {
    width: 500px;
}
.product-brand {
    width: 1890px;
} */
.dropdown-toggle {
    margin: 0 0 15px 15px;
 }
.modal .alert {
    margin: 0 15px 15px 15px;
}