<h1>Notas de versiones</h1>

<h3>2.0.0 (Próxima versión)</h3>
<p>
- Apertura y cierre de caja. <br>
- Asignar cada venta a una caja. <br>
- Obtener todas las cajas de un día específico, con sus respectivas ventas.
</p>

<h3>1.1.2 (Versión actual)</h3>
<p>
- Agregado de nuevo sistema de búsqueda a sección de agregar promos. <br>
- Mejoras visuales a sección de lista de promos. <br>
- Agregado de función de modificar promo desde lista de promos. <br>
- Agregado de notas de versiones.
</p>

<h3>1.1.1</h3>
<p>
- Nuevo sistema de búsqueda por nombre al agregar productos o promos en ventas. <br>
- Notificaciones al guardar o cancelar una venta. <br>
- Manejo de errores de venta a través de notificaciones.
</p>

<h3>1.1.0</h3>
<p>
- Crear promos express en ventas. <br>
- Crear montos sueltos en ventas. <br>
- Mejoras visuales a sección de lista de productos.
</p>

<h3>1.0.0</h3>
<p>
- Crear, leer, modificar y eliminar productos. <br>
- Crear, leer y eliminar promos. <br>
- Agregar productos en ventas, por código de barras o buscando por nombre. <br>
- Agregar promos en ventas. <br>
- Crear y leer ventas. <br>
- Obtener ventas de una fecha específica, con su respectivo detalle, y calcular caja sumando los totales de todas las ventas.
</p>