<!-- -->
<h1>Ventas</h1>
<button class="btn btn-dark btn-lg" (click)="addSale()" (keydown.enter)="$event.preventDefault()">Agregar venta</button>
<div class="row">
    <div class="col-6" *ngFor="let sale of sales; let i = index" [attr.data-sale-index]="i">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-dark" (click)="addProductToSale(sale, i)">Agregar producto</button>
                    <button class="btn btn-dark" (click)="addExpressPromoToSale(sale, i)">Crear promo</button>
                    <button class="btn btn-success" (click)="insertSale(sale)">Guardar venta</button>
                    <button class="btn btn-danger" (click)="clearSale(sale)">Cancelar venta</button>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelSale(sale)"></button>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let expressPromo of sale.expressPromos; let expressPromoIndex = index;">
                        <button class="btn btn-dark" (click)="addProductToExpressPromo(expressPromo)">Agregar producto</button>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let expressPromoProduct of expressPromo.products; let expressPromoProductIndex = index;">
                                <div class="form-floating" *ngIf="!expressPromoProduct.name">
                                    <input (keydown.enter)="onExpressPromoProductEnter(expressPromoProduct, expressPromo, expressPromoProductIndex)" [(ngModel)]="expressPromoProduct.barcode" (input)="updateExpressPromoDatalist(expressPromoProduct.barcode)" [attr.list]="'expressPromoDatalistOptions'" #floatingExpressPromoProduct name="floatingExpressPromoProduct" type="text" class="form-control" id="floatingExpressPromoProduct" placeholder="Código de barras o nombre">
                                    <label for="floatingExpressPromoProduct">Código de barras o nombre</label>
                                    <datalist id="expressPromoDatalistOptions">
                                        <option value="Cargando..." *ngIf="isLoadingExpressPromoDatalist">
                                        <option *ngFor="let option of expressPromoDatalist" value="{{ option.name }}">
                                    </datalist>
                                </div>
                                <div *ngIf="expressPromoProduct.name">
                                    <div class="form-floating">
                                        <input name="floatingExpressPromoProductName" type="text" class="form-control" id="floatingExpressPromoProductName" placeholder="{{ expressPromoProduct.name }} | ${{ expressPromoProduct.price }}/u" disabled>
                                        <label for="floatingExpressPromoProductName">{{ expressPromoProduct.name }} | ${{ expressPromoProduct.price }}/u</label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="form-floating">
                                            <input [(ngModel)]="expressPromoProduct.quantity" min="1" name="floatingExpressPromoProductQuantity" type="number" class="form-control" id="floatingExpressPromoProductQuantity" placeholder="Cantidad">
                                            <label for="floatingExpressPromoProductQuantity">Cantidad</label>
                                        </div>
                                        <button type="button" class="btn-close delete-product-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center">
                            <div class="form-floating expressPromoTotalInput">
                                <input #floatingExpressPromoTotal name="floatingExpressPromoTotal" type="number" class="form-control" id="floatingExpressPromoTotal" placeholder="Total">
                                <label for="floatingExpressPromoTotal">Total</label>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </li>
                    <li class="list-group-item" *ngFor="let product of sale.products; let productIndex = index; trackBy: trackByProduct">
                        <div class="d-flex justify-content-between align-items-center" *ngIf="!product.id&&!product.promoId">
                            <div class="form-floating add-by-barcode-or-name">
                                <input (input)="updateDatalist(product.barcode)" [attr.list]="'datalistOptions'" #floatingProduct [(ngModel)]="product.barcode" (keydown)="onEnter($event, product, sale, i)" name="floatingProduct" type="text" class="form-control" id="floatingProduct" placeholder="Código de barras o nombre">
                                <label for="floatingProduct">Código de barras o nombre</label>
                                <datalist id="datalistOptions">
                                    <option value="Cargando..." *ngIf="isLoadingDatalist">
                                    <option *ngFor="let option of datalist" value="{{ option.name }}">
                                </datalist>
                            </div>
                            <div class="form-floating add-amount">
                                <div class="input-group">
                                    <div class="input-group-text">$</div>
                                    <input [(ngModel)]="amount" (keydown.enter)="insertAmount(sale, product, productIndex, i)" #floatingAmount name="floatingAmount" type="number" class="form-control" id="floatingAmount" placeholder="Monto">
                                </div>
                                <label class="visually-hidden" for="floatingAmount">Monto</label>
                            </div>
                        </div>
                        <div *ngIf="product.name">
                            <div class="form-floating">
                                <input name="floatingProductName" type="text" class="form-control" id="floatingProductName" placeholder="{{ product.name }} | ${{ product.price }}/u | Total: ${{ product.price * product.quantity }}" disabled>
                                <label for="floatingProductName">{{ product.name }} | ${{ product.price }}/u | Total: ${{ product.price * product.quantity }}</label>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="form-floating">
                                    <input [disabled]="product.id == 99999" min="1" (change)="onUpdateQuantity(product, sale, product.quantity)" [(ngModel)]="product.newQuantity" name="floatingProductQuantity" type="number" class="form-control" id="floatingProductQuantity" placeholder="Cantidad">
                                    <label for="floatingProductQuantity">Cantidad</label>
                                </div>
                                <button type="button" class="btn-close delete-product-btn" data-bs-dismiss="modal" aria-label="Close" (click)="deleteProduct(sale, productIndex)"></button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <h3>Total: ${{ sale.total }}</h3>
            </div>
        </div>
    </div>
</div>